.octodex{
}

.octocat{
  border-bottom: 1px solid #cccccc;
  margin: 5px;
  display: inline-block;
}

.octocat img{
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 300px;
}

.image-footer img{
  border: none;
  height: 5px;
  width: 5px;
}

.image-footer{
  list-style-type: none;
}

.image-caption{
  float: right;
  font-size: 15px;
}

.image-number{
  float: left;
  font-size: 15px;
}

.authors{}


