.octodex{

}

.octocat{
  border: 5px solid grey;
  border-radius: 5px;
  margin: 20px;
  width: 25%;
  display: inline-block;
}

.octocat img{
  height: 100px;
  width: 100px;
}

.image-footer img{
  height: 20px;
  width: 20px;
}

.image-footer{
  margin-top: 20px;
}

.image-caption{
  float: right;
}

.image-number{
  float: left;
}

.authors{}

